.dialog-title {
    font-weight: 500;
    // color: white;
  }
  
  .dialog-content {
    font-size: 15px;
    padding-top: 8px;
  }
  
  .dialog-actions {
    margin-top: 16px;
    button {
      min-width: 80px;
    }
  }

  .container-dialog {
    // .absolute-component {
    //     background-color: #BE3D2A;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 70px;
    //     content: "";
    // }

    .text-white {
        color: white;
    }

    .bg-red {
        background-color: #BE3D2A;
    }
  }
  