.container-card {
    min-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-card {
        padding: 16px;
        max-width: 800px;
        width: 720px;
        margin: auto;
      }
      
      .form-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 16px;
        padding: 16px;
      }
      
      .full-width {
        grid-column: span 2;
      }
      
      .actions {
        // margin-top: 24px;
        display: flex;
        justify-content: end;
        gap: 12px;
        padding: 16px;
      }
    
      .mat-mdc-card-title {
        margin-bottom: 1rem;
        padding: 16px;
        padding-bottom: 20px;
        background: chocolate;
        color: white;
      }
    
      .mat-mdc-card {
        background: none;
        border-radius: 0;
        border-color: none;
        padding: 0;
      }
    
      .mdc-text-field {
        background: none !important;
        border-radius: 0;
      }

      .mat-mdc-text-field-wrapper {
        background: none;
      }
}

@media screen and (max-width : 768px) {
  .container-card {
    padding: 2rem;
    align-items: baseline;

    .form-grid {
      grid-template-columns: auto;
    }

    .form-card {
      margin: unset;
    }
  }
}
@media screen and (max-width : 580px) {
  .container-card {
    padding: 1rem;
    align-items: baseline;

    .form-grid {
      grid-template-columns: auto;
    }

    .form-card {
      margin: unset;
    }
  }
}

  